@import '../main-scss/root.scss';
@import '../main-scss/mixin.scss';

.container {
  display: flex;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-100%);
  width: 100vw;
  color: #ffffff;
  background-color: #1e2939;

  &.open {
    transform: translateX(0%);
  }

  @include mq(before-desktop) {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 50px;
  }

  @include mq(desktop) {
    position: static;
    transform: translateX(0%);
    width: 370px;
    padding-top: 40px;
  }
}

.my-photo {
  width: 100%;
  object-fit: cover;

  @include mq(tablet) {
    width: 370px;
  }
}

.sidebar__content-box {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px 0 50px 27px;

  @media screen and (max-width: 365px) {
    padding: 30px 0 50px 15px;
  }

  @include mq(tablet-only) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 768px;
    padding: 50px 27px 50px 27px;
  }
}

.sidebar__content-box > div {
  width: 100%;

  &:nth-last-child(-n + 2) {
    @include mq(tablet-only) {
      display: inline-block;
      width: auto;
    }
  }
}

.sidebar__title {
  font-weight: var(--fw-bold);
  font-size: 22px;
  margin-bottom: 10px;
}

.contacts-list {
  font-size: 14px;
}

.contacts-list__item + .contacts-list__item {
  margin-top: 7px;
}

.contacts-list__type {
  display: inline-block;
  font-weight: var(--fw-bold);
  font-size: 15px;
  width: 78px;
  margin-right: 5px;
}

.contacts-list__link {
  opacity: 0.5;
  padding: 4px 0;
}

.skills-list {
  list-style: inside;
}

.skills-list__item {
  color: var(--accent-color);
}

.skills-list__item + .skills-list__item {
  margin-top: 3px;
}

.skills-list__text {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

// MAIN CONTENT
.content {
  position: relative;
  width: 100%;
  padding: 54px 15px 15px 15px;
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition:
    color var(--default-animation),
    background-color var(--default-animation);

  //dark-theme
  body.dark-mode & {
    background-color: #313233;
  }

  @include mq(desktop) {
    padding: 0 30px 15px 90px;
  }
}

// HEADER TOPBAR
.topbar {
  padding-top: 15px;
  background-color: inherit;

  @include mq(before-desktop) {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: calc(100vw - 30px);
    padding-bottom: 15px;
  }

  @include mq(desktop) {
    flex-direction: row;
  }
}

.topbar-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
  gap: 15px;
  transition: transform 850ms linear;

  @include mq(before-desktop) {
    padding: 0 8px;
  }

  &.open-sidebar-mobile {
    transform: translateX(200%);

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: -75%;
      width: 70%;
      height: 1.5px;
      background-color: #313233;

      body.dark-mode & {
        background-color: #fff;
      }
    }
  }
}

// LANGUAGE
.language-box {
  position: relative;
  min-width: 77.61px;
  height: 29px;
}

.selector-language {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  padding: 3px;
  width: 100%;
  height: 100%;
  border-radius: 13px;
  border: 2px solid var(--color-base);
  background-color: white;

  //dark-theme
  body.dark-mode & {
    border: 2px solid rgb(184, 174, 174);
    background-color: rgb(133, 133, 133);
  }
}

.selector-language__text {
  font-weight: var(--fw-semibold);
  font-size: 15px;
  display: inline-block;
}

.selector-language__chevron {
  fill: currentColor;
  transition: transform var(--default-animation);

  .selector-language.open & {
    transform: rotateZ(-180deg);
  }
}

.language-list {
  position: absolute;
  top: 14.5px;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  border: 2px solid var(--color-base);
  border-radius: 0 0 13px 13px;
  background-color: rgb(224, 224, 224);
  transition:
    border var(--default-animation),
    background-color var(--default-animation),
    max-height var(--default-animation);

  &::before {
    content: '';
    display: block;
    height: 10.5px;
  }

  //dark-theme
  body.dark-mode & {
    border: 2px solid rgb(184, 174, 174);
    background-color: rgb(133, 133, 133);
  }
}

.language-list__button {
  font-weight: var(--fw-semibold);
  font-size: 15px;
  width: 100%;
  height: 28px;
}

.language-list__item + .language-list__item .language-list__button {
  border-top: 2px solid var(--color-base);
  height: 32px;

  //dark-theme
  body.dark-mode & {
    border-top: 2px solid rgb(184, 174, 174);
  }
}

// THEME
.theme-select {
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 13px;
  color: white;
  border: 2px solid rgb(99, 99, 99);
  transition:
    color var(--default-animation),
    border var(--default-animation);

  &.dark {
    color: black;
    border: 2px solid var(--accent-color);
  }
}

.theme_icon {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  padding: 1.6px;
  border-radius: 100%;
  background-color: rgb(168, 168, 168);

  transition:
    left var(--default-animation),
    background-color var(--default-animation),
    opacity var(--default-animation),
    visibility var(--default-animation),
    pointer-events var(--default-animation);

  & > svg {
    fill: currentColor;
  }
}

.theme_icon.__dark {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
}

.theme-select.dark .theme_icon {
  left: 54%;
  background-color: #96300b;
}

.theme-select.dark .theme_icon.__dark {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

// open sidebar
.open-sidebar {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  @include mq(desktop) {
    display: none;
  }

  &.__sidebar {
    position: static;
    flex-direction: row-reverse;
    margin: 0 0 0 auto;
    padding: 15px;
  }

  & > svg {
    transform: rotateZ(45deg);
    transition: transform var(--default-animation);
  }

  &.__sidebar > svg {
    transform: rotateZ(-135deg);
  }
}
// HEADER TOPBAR END

// MAIN CONTENT
.about {
  padding: 25px 0;

  @include mq(desktop) {
    padding: 40px 0;
  }
}

.about_position {
  font-weight: var(--fw-bold);
  font-size: 20px;
  margin-bottom: 5px;

  @include mq(desktop) {
    margin-bottom: 10px;
  }
}

.about_name {
  font-weight: var(--fw-bold);
  font-size: 30px;
  margin-bottom: 12px;

  @include mq(desktop) {
    font-size: 35px;
    margin-bottom: 25px;
  }
}

.about_description {
  font-size: 13px;
  line-height: 21px;

  @include mq(desktop) {
    font-size: 14px;
    line-height: 24px;
  }
}

// PROJECTS
.portfolio__title {
  font-weight: var(--fw-bold);
  font-size: 25px;
  margin-bottom: 30px;

  @include mq(desktop) {
    font-size: 27px;
    margin-bottom: 19px;
  }
}

.projects__item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 10px 10px;
  border-radius: 8px;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.25);

  body.dark-mode & {
    border: 1px solid var(--accent-color);
    box-shadow: none;
  }
}

.projects__item + .projects__item {
  margin-top: 30px;
}

.projects__links-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.projects-link {
  font-weight: var(--fw-bold);
  font-size: 20px;
  text-decoration: underline;
}

.visit-website {
  display: none;
  font-weight: var(--fw-semibold);
  padding: 8px 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #313233;
  border: 1px solid #313233;

  @include mq(desktop) {
    display: block;
  }

  &:hover {
    color: #313233;
    background-color: transparent;
  }

  body.dark-mode & {
    color: var(--accent-color);
    background-color: transparent;
    border: 1px solid var(--accent-color);

    &:hover {
      color: #313233;
      background-color: var(--accent-color);
    }
  }
}

.projects__description {
  font-size: 14px;
  max-width: 420px;

  @include mq(desktop) {
    font-size: 16px;
  }

  &:nth-child(2n) {
    margin: auto 0 18px 0;
  }

  &:nth-last-child(1n) > h5 {
    display: inline;
  }
}

p.projects__description {
  font-weight: var(--fw-medium);
  max-width: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #acacacc8;
}

.projects-thumbnail {
  position: relative;
  margin: 15px auto 0 auto;

  width: 210px;
  height: 121.85px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.25);
  transition:
    top var(--default-animation),
    right var(--default-animation),
    bottom var(--default-animation),
    width var(--default-animation),
    height var(--default-animation),
    box-shadow var(--default-animation);

  &.active {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.73);
  }

  @include mq(desktop) {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;

    &.active {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 680px;
      height: 400px;
      box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.73);
      -webkit-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.73);
      -moz-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.73);
    }
  }
}

.projects-thumbnail__close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 100%;
  color: black;
  background-color: #818181bb;
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    color var(--default-animation),
    opacity var(--default-animation),
    visibility var(--default-animation),
    pointer-events var(--default-animation);

  @include mq(desktop) {
    padding: 5px;
  }

  & > svg {
    fill: currentColor;
  }

  @include mq(before-desktop) {
    & > svg {
      width: 18px;
      height: 18px;
    }
  }

  &:hover {
    color: #fff;
  }
}

.thumbnail__visit-text {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  width: 100%;
  padding: 3px 5px;
  overflow: hidden;
  border-radius: inherit;

  position: absolute;
  right: 0;
  bottom: 0;

  font-weight: var(--fw-semibold);
  font-size: 10px;
  color: inherit;
  background-color: rgb(247, 218, 165);
  transition:
    opacity 350ms linear,
    visibility 350ms linear,
    pointer-events 350ms linear,
    background-color var(--default-animation);

  @include mq(before-desktop) {
    height: 17.5px;
  }

  @include mq(desktop) {
    font-size: 15px;
    width: auto;
    border-radius: 5px 5px 0 5px;
  }

  // dark theme
  body.dark-mode & {
    background-color: #444444;
  }
}

.projects-thumbnail.active .projects-thumbnail__close,
.projects-thumbnail.active .thumbnail__visit-text {
  opacity: 1;
  visibility: visible;
  pointer-events: unset;
}

// .projects__item:nth-last-child(-n + 2) .projects-thumbnail {
//   top: auto;
//   bottom: 10px;

//   &.active {
//     top: auto;
//     bottom: 0;
//   }
// }

// .projects__img {
//   object-fit: cover;
//   border-radius: 4px;
// }
